* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: Georgia, "Times New Roman", Times, serif;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  min-width: 600px;
}

.form-box h1 {
  font-size: 32px;
  font-weight: 800;
  color: rosybrown;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-box .title {
  display: flex;
  align-items: center;
}

.form-box .title h2 {
  font-weight: 500;
  flex: 1;
  text-align: center;
}

.form-box .title span {
  font-size: 14px;
  color: #333;
}

.form{
    text-align: center;
    margin-top: 2rem;
}

.form .form-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    margin: 0 auto 1rem auto;
}

.form-input label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
}

.form-input input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    background-color: #f0f2f5;
    border: 1px solid transparent
}

.form-input input:focus{
    background-color: #ffffff;
    border-color: #007bff; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.btn{
    width: 100%;
     padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
}

