* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  min-width: 600px;
}

.form-box h1 {
  font-size: 32px;
  font-weight: 800;
  color: rosybrown;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-box .title {
  display: flex;
  align-items: center;
}

.form-box .title h2 {
  font-weight: 500;
  flex: 1;
  text-align: center;
}

.form-box .title span {
  font-size: 14px;
  color: #333;
}

.form{
    text-align: center;
    margin-top: 2rem;
}

.form .form-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

